.SingleApplication {
  display: grid;
  grid-template-columns: 15% 15% auto 15% 15% 15%;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.SingleApplication:hover {
  /* background-color: #fbfcfd; */
  box-shadow: 0px 2px 10px 5px rgba(173, 200, 215, 0.45);
}

.cell {
  text-align: left;
  border-right: 1px solid #eee;
  padding: 0 15px;
}

.cell sub {
  display: block;
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
}

.cell:last-child {
  border: none;
}

@media only screen and (max-width: 768px) {
  .SingleApplication {
    grid-template-columns: 100%;
    margin: 0 1rem 1rem;
  }
  .cell {
    border: none;
    padding: 10px;
  }
}
