@font-face {
    font-family: 'Aesop';
    src: url('../fonts/Aesop-Light.woff2') format('woff2'),
        url('../fonts/Aesop-Light.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Aesop';
    src: url('../fonts/Aesop-Medium.woff2') format('woff2'),
        url('../fonts/Aesop-Medium.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Aesop';
    src: url('../fonts/Aesop-Bold.woff2') format('woff2'),
        url('../fonts/Aesop-Bold.woff') format('woff');
    font-weight: 900;
}
